.slide ul {
    padding-inline-start: 0%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: fit-content;
    margin: 0;
    padding: 0;
    position: relative;
    transition: 1000ms;
}

.slide > ul > li {
    float: left;
    margin-right: 10vw;
}

.slide {
    overflow: hidden;
    width: 80vw; 
    margin: auto; 
    border: 2px dashed rgb(255, 121, 121);
    display: flex;
    flex-direction: row;
}

.slide img {
    display: inline;
}

