@import 'nav.scss';
@import 'slide.scss';
@import 'footer.scss';

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: auto;
    width: auto;
}

h3 {
    font-size: 3rem;
}

main {
    margin: auto;
    text-align: center;
}

.copyright {
    color: white;
    background-color: rgb(0, 7, 46);
    position: relative;
    top: 10vh;
    padding: 0.1rem 4.5rem 0.1rem;
}
