/* navigation item */
nav {
    top: 0;
    left: 0;
    display: flex; 
    width: 100vw;
    height: 4.5em;
    padding: 0%;
    margin: auto;
    position: sticky;
    z-index: 5;
    flex-direction: row; 
    align-items:center; 
    justify-items: center;
    justify-content: space-evenly;
    background-color: rgb(126, 0, 0);
    border-radius: 0 0 0.3rem 0.3rem;

    .bar_btn{
        width: 2rem;
        font-size: 2rem;
        display: none;
        margin: 1rem;
    }
}

.dropdown-menu{
    position: sticky;
    // display: none;
    // opacity: 0;
    z-index: 1;
    top: 4.5rem;
    width: 100vw;
    height: 0;
    background-color: rgba(126, 0, 0, 0.8);
    border-radius: 0 0 1rem 1rem;
    transition: height 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    backdrop-filter: blur(3px);
}

.menu-items{
    display: none;
    padding: 0;
    margin: 0;
    li{
        line-height: 2rem;
    }
}

nav .nav-logo {
    display: inline;
    float: left;
    margin: 1rem;
}

/* ul and li in nav display stye inline */
.nav-items ul, .nav-items li {
    display: inline;
 }
 
.nav-items ul {
    margin: 0;
}

.nav-items li {
    display: inline;
    margin: 1rem;
}

nav a {
    transition: 0.2s;
}

nav a:hover {
    color: rgb(68, 25, 25);
    transition: 0.2s;
}

@media screen and (max-width: 1079px) {
    nav{
        border-radius: 0;

        .bar_btn{
            display:block;
            cursor: pointer;
        }

        .nav-items{
            display: none;
        }
    }
    .dropdown-menu.open {
        // display: block;
        height: 11rem;
        .menu-items{
            display: flex;
            flex-direction: column;
        }
    }
    
}